@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

@media screen and (min-width: 1000px)
{
    body {
      font-family: 'Fira Code';
      background-image: url("images/wallp.webp");
      background-attachment: fixed;
      padding: 1.5em;
      max-height: 100vh;
      max-width: 100vw;
      text-align: center;
    }

    #fixed-top {
        position: fixed;
        background-color:#0E4D9E;
        width: 80%;
        top:0px;
        text-align: center;
        transition: 0.5s;
        z-index: 100;
        box-shadow:
          rgba(90,83,184,0.4)
          10px 10px;

        border-radius: 0em 2em 3em 4em;
        border-color: #AFCBF0;
        border-width: 0.8em;
        border-top-width: 0em;
        border-style: solid;

        margin-right: 10%;
        margin-left: 10%;
        }

    nav ul {
      margin: 0px;
      padding: 5px 0px 5px 30px;
    }

    nav li {
      display: inline-table;
      margin-right: 0px;
    }
    /*------------------------------------Links Styling----------------------------------------------------------------------*/
    a:link {
      font-style: oblique;
      color: #5A83B8;
    }

    a:visited {
      color: #1572eb;
    }

    a:hover {
      background-color: #0E4D9E;
      color: #AFCBF0;
    }

    li a:link {
      color: #AFCBF0;
      border-color: #0A346B;
      text-decoration: none;
    }

    li a:visited {
      color: #AFCBF0;
      border-color: #0A346B;
      text-decoration: solid;
    }

    li a:hover {
      color: #0A346B;
      background-color: #AFCBF0;
      text-decoration: dashed;
      text-decoration-color: #0A346B;
    }

    li a:active {
      color: yellow;
      border-color: #AFCBF0;
      text-decoration: line-through;
      transition: 0.5s;
    }

    li {
      font-size: 160%;
    }

/*----------------------------------------------------------------------------------------------------------------------------------*/
    .pg-active {
      color: #0A346B;
      background-color: #AFCBF0;
    }


    .bu:hover {
      background-color: #AFCBF0;
    }

    iframe {
      border-radius: 2%;
    }

    .mcard {
      contain: content;
      z-index: 99;
      position:relative;
      margin-top: 15%;
      min-height: 50em;
      border-radius: 1em;
      background-color: #AFCBF0;
      box-shadow:
           inset 0 -3em 3em rgba(0,0,0,0.2),
                 0 0  0 4px rgb(255,255,255),
                 0.3em 0.3em 1em rgba(0,0,0,0.5);
    }


    /*.blue-groove-border {
      border-color: #0A346B;
      border-width: 1em;
      border-style: groove;
    }
    */

    .Index {
      color: #2644FF;
      text-align: center;
      font-size: large;
    }

    header {
      color: #AFCBF0;
      font-family: 'Fira Code';
      text-align: center;
      width: 100%;
    }

      .main-text {
        width: 70%;
        padding: 2% 20% 0% 20%;
        color: #0A346B;
        font-size: 200%;
        font-weight: 300;
        margin: 0% 0% 0% 0%;
      }

      .largeimg {
        margin: 0px 10px 10px 10px;
        max-width: 80%;
        max-height: 70%;
        border-radius: 10%;
        border-color: #0E4D9E;
        border-style: solid;
        border-width: 0.5em;
        height: 25em;
      }

      .round-img-box {
        display: list-item;
        contain: content;
        background-color: #5A83B8;
        border-radius: 10%;
        text-align: center;
        padding: 3% 10% 3% 10%;
      }

      .round-img {
        border-radius: 50%;
        border-width: 2em;
        padding: 0% 5% 0% 5%;
        opacity: 0.5;
      }

      .round-img:hover {
        border-width: 2em;
        border-radius: 10%;
        animation: shake 0.5s;
        opacity: 1;
      }

      .upper-text {
        font-size: 3em;
      }

      .schedule {
        position: fixed;
        top: 0%;
        border-color: #5A83B8;
        border-radius: 0.4em;
        border-width: 0.1em;
        border-style: dashed;
        color: #AFCBF0;
        font-weight: 100;
        text-align: left;
        z-index: 99;

        height:100%;
        color: #0A346B;
        min-width: 30%;
        background-color: black;
      }

      #sc-left {
        left: 0%;
        margin-right: 2%;
      }

      #sc-mid {
        left:32%;
        max-width: 36%;
        margin-right: 2%;
      }

      #sc-right {
        left:70%;
      }

    }

      @media only screen and (max-width: 1000px) {
        body {
          font-family: 'Fira Code';
          background-color: #AFCBF0;
          padding: 0em;
          min-height: 100%;
          text-align: center;
          margin: 0em;
          max-width: 100%;
        }

        #fixed-top {
          position: fixed;
          background-color:#0E4D9E;
          border-radius: 0px;
          border-width: 0em;
          top: 0px;
          left: 0px;
          width: 100%;
          z-index: 1;
          margin-bottom: 4em;
          padding: 0px;
          text-align: center;
        }

        nav ul {
          margin: 0px;
          padding: 0px 0px 5px 30px;
          width: max-content;
        }

        nav li {
          display: contents;
          margin-right: 0px;
        }

        header {
          color: #AFCBF0;
          font-family: 'Fira Code';
          text-align: center;
          font-size: 280%;
        }

        .mcard{
          background-color: black;
          position: relative;
          margin-top: 45%;
          padding-left: 10%;
          padding-right: 10%;
          padding-top: 20%;
          min-height: 50em;
          border-radius: 0.4em;
          z-index: 2;
        }

        .main-text {
          color: #AFCBF0;
          font-size: 160%;
          font-weight: 400;
        }


      iframe {
        border-radius: 2%;
        width: 100%;
      }

      nav ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
      }

      nav li {
        display: inline-table;
        margin-right: 0px;
      }
      /*.mcard {
        padding: 10%;
        padding-bottom: 12%;
        border-radius: 16%;
        background-color: #1572EB;
        min-height: 45vh;
      }*/
      a:link {
        font-style: oblique;
        color: #5A83B8;
      }

      a:visited {
        color: #1572EB;
      }

      a:hover {
        background-color: #1572EB;
        color: #AFCBF0;
      }

      li a:link {
        color: #AFCBF0;
        border-color: #0A346B;
        text-decoration: none;
      }

      li a:visited {
        color: #AFCBF0;
        border-color: #0A346B;
        text-decoration: solid;
      }

      li a:hover {
        color: #0A346B;
        background-color: #AFCBF0;
        text-decoration: dashed;
        text-decoration-color: #0A346B;
      }

      .pg-active {
        color: #0A346B;
        background-color: #AFCBF0;
      }

      li a:active {
        color: yellow;
        border-color: #AFCBF0;
        text-decoration: line-through;
        transition: 0.5s;
      }

      li {
        font-size: 160%;
      }

      #embedded-feed {
        visibility: hidden;
      }

      .schedule {
        font-weight: 100;
      }

      .p-light-text {
        color : #AFCBF0;
      }
    }

      .search {
        background-color: #0A346B;
        border: none;
        color: #AFCBF0;
        word-wrap: break-word;
        outline: none;
        display: inline;
        flex: 100%;
        height: 10%;
        font-size: 16px;
      }

      .inp-box {
        box-shadow:
        #0A346B;

      border-color: #AFCBF0;
      font-size: x-large;
      width: 50em;
      border-width: 1em;
      border-bottom-width: 0.3em;
      border-style: solid;
      text-align: center;
      }
