    body {
      background-color:#0A346B;
      padding: 1.5em;
      min-height: 100vh;
      min-width: 70em;
      max-height: 105vh;
      text-align: center;
    }
    /*.mcard {
      padding: 10%;
      padding-bottom: 12%;
      border-radius: 16%;
      background-color: #1572EB;
      min-height: 45vh;
    }*/
    .mcard {
      padding: 20px;
      margin-top: 15%;
      min-height: 50em;
      border-radius: 1em;
      background-color: #AFCBF0;
      box-shadow:
           inset 0 -3em 3em rgba(0,0,0,0.2),
                 0 0  0 4px rgb(255,255,255),
                 0.3em 0.3em 1em rgba(0,0,0,0.5);
    }
    /*.blue-groove-border {
      border-color: #0A346B;
      border-width: 1em;
      border-style: groove;
    }
    */

    #fixed-top {
      position: fixed;
      background-color:#0A346B;
      width: 80%;
      text-align: center;
      transition: 0.4s;
      border-radius: 10em;
      border-top-left-radius: 5em;
      border-bottom-left-radius: 50%;
      z-index: 100;

      box-shadow:
        rgba(90,83,184,0.4)
        10px 10px;

      border-color: #AFCBF0;
      border-width: 0.8em;
      border-top-width: 0em;
      border-style: solid;

      margin-top: -2%;
      margin-right: 10%;
      margin-left: 10%;
    }
    
    header {
      color: #AFCBF0;
      font-family: 'Fira Code';
      text-align: center;
      font-size: 160%;
    }
    .Index {
      color: #2644FF;
      text-align: center;
      font-size: large;
    }

    .bu {
      color: #2664FF;
      background-color: #AFCBF0;
      font-size: 130%;
    }

    .dashed-box {
        border-radius: 20%;
        border-color: #5A83B8;
        border-style: dashed;
        color: #AFCBF0;
        background-color: #0E4D9E;
        margin: 5% 40% 2% 40%;
    }

      .main-text {
        width: 70%;
        padding: 2% 20% 0% 20%;
        color: #0A346B;
        font-size: 1.8em;
        font-weight: bold;
        margin: 0% 0% 0% 0%;
      }

      .largeimg {
        margin: 0px 10px 10px 10px;
        border-radius: 10%;
        border-color: #0E4D9E;
        border-style: solid;
        border-width: 0.5em;
        height: 25em;
      }