@charset "UTF-8";

.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    box-sizing: border-box
}

.wp-block-button__link:active,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited {
    color: #fff
}

@supports (column-gap:0.5em) {

    .wp-block-buttons.is-content-justification-right>.wp-block-button.wp-block-button,
    .wp-block-buttons>.wp-block-button.wp-block-button {
        margin-right: 0;
        margin-left: 0
    }

    .wp-block-buttons>.wp-block-button.wp-block-button__width-25 {
        width: calc(25% - .375em)
    }

    .wp-block-buttons>.wp-block-button.wp-block-button__width-50 {
        width: calc(50% - .25em)
    }

    .wp-block-buttons>.wp-block-button.wp-block-button__width-75 {
        width: calc(75% - .125em)
    }

    .wp-block-buttons>.wp-block-button.wp-block-button__width-100 {
        width: auto;
        flex-basis: 100%
    }
}

.wp-block-columns {
    display: flex;
    margin-bottom: 1.75em;
    box-sizing: border-box;
    flex-wrap: wrap
}

@media (min-width:782px) {
    .wp-block-columns {
        flex-wrap: nowrap
    }
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word
}

@media (max-width:599px) {
    .wp-block-column {
        flex-basis: 100% !important
    }
}

@media (min-width:600px) and (max-width:781px) {
    .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - 1em) !important;
        flex-grow: 0
    }

    .wp-block-column:nth-child(2n) {
        margin-left: 2em
    }
}

@media (min-width:782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1
    }

    .wp-block-column[style*=flex-basis] {
        flex-grow: 0
    }

    .wp-block-column:not(:first-child) {
        margin-left: 2em
    }
}

.wp-block-cover,
.wp-block-cover-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box
}

@supports (-webkit-overflow-scrolling:touch) {

    .wp-block-cover-image.has-parallax,
    .wp-block-cover.has-parallax {
        background-attachment: scroll
    }
}

.wp-block-cover-image:after,
.wp-block-cover:after {
    display: block;
    content: "";
    font-size: 0;
    min-height: inherit
}

@supports (position:sticky) {

    .wp-block-cover-image:after,
    .wp-block-cover:after {
        content: none
    }
}

.wp-block-cover .wp-block-cover__inner-container,
.wp-block-cover-image .wp-block-cover__inner-container {
    width: 100%;
    z-index: 1;
    color: #fff
}

.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover p:not(.has-text-color),
.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color) {
    color: inherit
}

.wp-block-cover img.wp-block-cover__image-background,
.wp-block-cover video.wp-block-cover__video-background,
.wp-block-cover-image img.wp-block-cover__image-background,
.wp-block-cover-image video.wp-block-cover__video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    -o-object-fit: cover;
    object-fit: cover;
    outline: 0;
    border: none;
    box-shadow: none
}

.wp-block-cover__image-background,
.wp-block-cover__video-background {
    z-index: 0
}

.wp-block-cover-image-text,
.wp-block-cover-image-text a,
.wp-block-cover-image-text a:active,
.wp-block-cover-image-text a:focus,
.wp-block-cover-image-text a:hover,
.wp-block-cover-text,
.wp-block-cover-text a,
.wp-block-cover-text a:active,
.wp-block-cover-text a:focus,
.wp-block-cover-text a:hover {
    color: #fff
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover-image .wp-block-cover-image-text {
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 840px;
    padding: .44em;
    text-align: center
}

.wp-block[data-align=left]>[data-type="core/embed"],
.wp-block[data-align=right]>[data-type="core/embed"] {
    max-width: 360px;
    width: 100%
}

.wp-block[data-align=left]>[data-type="core/embed"] .wp-block-embed__wrapper,
.wp-block[data-align=right]>[data-type="core/embed"] .wp-block-embed__wrapper {
    min-width: 280px
}

.wp-block-cover .wp-block-embed {
    min-width: 320px;
    min-height: 240px
}

.wp-block-embed {
    margin: 0 0 1em
}

.wp-block-embed__wrapper {
    position: relative
}

@supports (position:sticky) {

    .blocks-gallery-grid .blocks-gallery-image figure,
    .blocks-gallery-grid .blocks-gallery-item figure,
    .wp-block-gallery .blocks-gallery-image figure,
    .wp-block-gallery .blocks-gallery-item figure {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start
    }
}

@supports (position:sticky) {

    .blocks-gallery-grid .blocks-gallery-image img,
    .blocks-gallery-grid .blocks-gallery-item img,
    .wp-block-gallery .blocks-gallery-image img,
    .wp-block-gallery .blocks-gallery-item img {
        width: auto
    }
}

@supports (position:sticky) {

    .blocks-gallery-grid.is-cropped .blocks-gallery-image a,
    .blocks-gallery-grid.is-cropped .blocks-gallery-image img,
    .blocks-gallery-grid.is-cropped .blocks-gallery-item a,
    .blocks-gallery-grid.is-cropped .blocks-gallery-item img,
    .wp-block-gallery.is-cropped .blocks-gallery-image a,
    .wp-block-gallery.is-cropped .blocks-gallery-image img,
    .wp-block-gallery.is-cropped .blocks-gallery-item a,
    .wp-block-gallery.is-cropped .blocks-gallery-item img {
        height: 100%;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover
    }
}

.wp-block-group {
    box-sizing: border-box
}

.wp-block-image {
    margin: 0 0 1em
}

.wp-block-image img {
    max-width: 100%
}

.wp-block-image:not(.is-style-rounded) img {
    border-radius: inherit
}

@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
    .wp-block-image.is-style-circle-mask img {
        -webkit-mask-image: url(data:image/svg+xml;utf8,SVG_REPLACED);
        mask-image: url(data:image/svg+xml;utf8,SVG_REPLACED);
        mask-mode: alpha;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        border-radius: 0
    }
}

.wp-block-image figure {
    margin: 0
}

.wp-block-media-text {
    /*!rtl:begin:ignore*/
    direction: ltr;
    /*!rtl:end:ignore*/
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto
}

.wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text .wp-block-media-text__media {
    align-self: center
}

.wp-block-media-text .wp-block-media-text__media {
    /*!rtl:begin:ignore*/
    grid-column: 1;
    grid-row: 1;
    /*!rtl:end:ignore*/
    margin: 0
}

.wp-block-media-text .wp-block-media-text__content {
    direction: ltr;
    /*!rtl:begin:ignore*/
    grid-column: 2;
    grid-row: 1;
    /*!rtl:end:ignore*/
    padding: 0 8%;
    word-break: break-word
}

.wp-block-media-text__media img,
.wp-block-media-text__media video {
    max-width: unset;
    width: 100%;
    vertical-align: middle
}

.wp-block-navigation {
    position: relative
}

.wp-block-navigation ul,
.wp-block-navigation ul li {
    list-style: none;
    padding: 0
}

.wp-block-navigation .wp-block-navigation-link {
    display: flex;
    align-items: center;
    position: relative
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__container:empty {
    display: none
}

.wp-block-navigation .wp-block-navigation-link__content {
    color: inherit;
    display: block
}

.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link,
.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__container,
.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__content,
.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__content:active,
.wp-block-navigation[style*=text-decoration] .wp-block-navigation-link__content:focus {
    text-decoration: inherit
}

.wp-block-navigation:not([style*=text-decoration]) .wp-block-navigation-link__content,
.wp-block-navigation:not([style*=text-decoration]) .wp-block-navigation-link__content:active,
.wp-block-navigation:not([style*=text-decoration]) .wp-block-navigation-link__content:focus {
    text-decoration: none
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content.wp-block-navigation-link__content.wp-block-navigation-link__content {
    padding: 0
}

.wp-block-navigation.wp-block-navigation .wp-block-navigation__container>.wp-block-navigation-link {
    margin: 0 2em 0 0
}

.wp-block-navigation.wp-block-navigation .wp-block-navigation__container>.wp-block-navigation-link:last-child {
    margin-right: 0
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link__container {
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15)
}

.wp-block-navigation__container {
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0
}

.wp-block-navigation__container .is-responsive {
    display: none
}

@media (min-width:600px) {
    .wp-block-navigation__container {
        display: flex;
        flex-wrap: wrap
    }
}

.wp-block-navigation__responsive-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    align-items: flex-start;
    justify-content: flex-start
}

.wp-block-navigation__responsive-container.is-menu-open {
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 100000;
    padding: 24px;
    background-color: inherit
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    line-height: 48px;
    padding: 0
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link .wp-block-navigation-link__container {
    background: 0 0 !important
}

@media (min-width:600px) {
    .wp-block-navigation__responsive-container:not(.is-menu-open) {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: inherit
    }

    .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__responsive-container-close {
        display: none
    }

    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link__container.wp-block-navigation-link__container.wp-block-navigation-link__container.wp-block-navigation-link__container {
        left: 0
    }
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: #fff;
    color: #000
}

.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
    vertical-align: middle;
    cursor: pointer;
    color: currentColor;
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0
}

.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
    fill: currentColor;
    pointer-events: none;
    display: block;
    width: 24px;
    height: 24px
}

.wp-block-navigation__responsive-container-open {
    display: flex
}

@media (min-width:600px) {
    .wp-block-navigation__responsive-container-open {
        display: none
    }
}

.wp-block-navigation__responsive-container-close {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2
}

.wp-block-navigation__responsive-close {
    width: 100%
}

.is-menu-open .wp-block-navigation__responsive-close,
.is-menu-open .wp-block-navigation__responsive-container-content {
    width: 100%;
    height: 100%
}

.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link {
    flex-direction: column;
    align-items: flex-start
}

.wp-block-navigation .wp-block-navigation-link__label {
    word-break: normal;
    overflow-wrap: break-word
}

.wp-block-navigation .wp-block-home-link__content {
    color: inherit;
    display: block;
    padding: .5em 1em
}

.wp-block-navigation[style*=text-decoration] .wp-block-home-link,
.wp-block-navigation[style*=text-decoration] .wp-block-home-link__content,
.wp-block-navigation[style*=text-decoration] .wp-block-home-link__content:active,
.wp-block-navigation[style*=text-decoration] .wp-block-home-link__content:focus {
    text-decoration: inherit
}

.wp-block-navigation:not([style*=text-decoration]) .wp-block-home-link__content,
.wp-block-navigation:not([style*=text-decoration]) .wp-block-home-link__content:active,
.wp-block-navigation:not([style*=text-decoration]) .wp-block-home-link__content:focus {
    text-decoration: none
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-home-link__container {
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15)
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-home-link__container .wp-block-home-link__container {
    top: -1px
}

.is-large-text {
    font-size: 2.25em
}

.wp-block-post-title a {
    display: inline-block
}

.wp-block-post-template {
    max-width: 100%;
    list-style: none;
    padding: 0
}

.wp-block-post-template li {
    clear: both
}

.wp-block-post-template.is-flex-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap
}

.wp-block-post-template.is-flex-container li {
    margin: 0 0 1.25em;
    width: 100%
}

@media (min-width:600px) {
    .wp-block-post-template.is-flex-container li {
        margin-right: 1.25em
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-2>li {
        width: calc(50% - .625em)
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-2>li:nth-child(2n) {
        margin-right: 0
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li {
        width: calc(33.33333% - .83333em)
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li:nth-child(3n) {
        margin-right: 0
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-4>li {
        width: calc(25% - .9375em)
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-4>li:nth-child(4n) {
        margin-right: 0
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-5>li {
        width: calc(20% - 1em)
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-5>li:nth-child(5n) {
        margin-right: 0
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-6>li {
        width: calc(16.66667% - 1.04167em)
    }

    .wp-block-post-template.is-flex-container.is-flex-container.columns-6>li:nth-child(6n) {
        margin-right: 0
    }
}

.wp-block-site-logo {
    line-height: 0
}

.wp-block-site-logo a {
    display: inline-block
}

.wp-block-site-logo.is-default-size img {
    width: 120px;
    height: auto
}

.wp-block-spacer {
    clear: both
}

.wp-block-text-columns {
    display: flex
}

.wp-block-text-columns .wp-block-column {
    margin: 0 1em;
    padding: 0
}

.wp-block-text-columns .wp-block-column:first-child {
    margin-left: 0
}

.wp-block-text-columns .wp-block-column:last-child {
    margin-right: 0
}

.wp-block-text-columns.columns-2 .wp-block-column {
    width: 50%
}

.wp-block-text-columns.columns-3 .wp-block-column {
    width: 33.33333%
}

.wp-block-text-columns.columns-4 .wp-block-column {
    width: 25%
}

.wp-block-video {
    margin: 0 0 1em
}

.wp-block-video video {
    width: 100%
}

@supports (position:sticky) {
    .wp-block-video [poster] {
        -o-object-fit: cover;
        object-fit: cover
    }
}